
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option><option value="20">推荐界面</option>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    <div class="container">
    	<div class="row clearfix">
    		<div class="col-md-12 column">
    			<h3>
    				个人信息
    			</h3>
    		</div>
    	</div>
    	<div class="row clearfix">
    		<div class="col-md-8 column">
    			<div class="panel panel-info">
    				<div class="panel-heading">
    					<h3 class="panel-title">
    						Panel title
    					</h3>
    				</div>
    				<div class="panel-body">
    					Panel content
    				</div>
    				<div class="panel-footer">
    					Panel footer
    				</div>
    			</div>
    		</div>
    		<div class="col-md-4 column">
    			<h3>
    				h3. 这是一套可视化布局系统.
    			</h3>
    			<h3>
    				h3. 这是一套可视化布局系统.
    			</h3>
    		</div>
    	</div>
    	<div class="row clearfix">
    		<div class="col-md-6 column">
    			<h3 class="text-center">
    				所报课程
    			</h3>
    			<table class="table table-striped">
    				<thead>
    					<tr>
    						<th>
    							编号
    						</th>
    						<th>
    							产品
    						</th>
    						<th>
    							交付时间
    						</th>
    						<th>
    							状态
    						</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr>
    						<td>
    							1
    						</td>
    						<td>
    							TB - Monthly
    						</td>
    						<td>
    							01/04/2012
    						</td>
    						<td>
    							Default
    						</td>
    					</tr>
    					<tr class="success">
    						<td>
    							1
    						</td>
    						<td>
    							TB - Monthly
    						</td>
    						<td>
    							01/04/2012
    						</td>
    						<td>
    							Approved
    						</td>
    					</tr>
    					<tr class="error">
    						<td>
    							2
    						</td>
    						<td>
    							TB - Monthly
    						</td>
    						<td>
    							02/04/2012
    						</td>
    						<td>
    							Declined
    						</td>
    					</tr>
    					<tr class="warning">
    						<td>
    							3
    						</td>
    						<td>
    							TB - Monthly
    						</td>
    						<td>
    							03/04/2012
    						</td>
    						<td>
    							Pending
    						</td>
    					</tr>
    					<tr class="info">
    						<td>
    							4
    						</td>
    						<td>
    							TB - Monthly
    						</td>
    						<td>
    							04/04/2012
    						</td>
    						<td>
    							Call in to confirm
    						</td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="col-md-6 column">
    			<h3>
    				备注
    			</h3>
    			<p>
    				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 <small>Ruby</small> 社区中。
    			</p>
    		</div>
    	</div>
    </div>
