<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>『慕客信』学员管理系统</title>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url() . 'style/' ?>css/common.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url() . 'style/' ?>css/main.css"/>
    <script type="text/javascript" src="<?php echo base_url() . 'style/' ?>js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">首页</a></li>
                <li><a href="http://www.mycodes.net/" target="_blank">网站首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="#">管理员</a></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>学员管理</a>
                    <ul class="sub-menu">
                        <li><a href="design.html"><i class="icon-font">&#xe008;</i>学员总览</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe005;</i>添加学员</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe006;</i>查找学员</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe004;</i>最新报课程</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe012;</i>学员添加课程</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe052;</i>基本信息</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe033;</i>新增课程</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>学校管理</a>
                    <ul class="sub-menu">
                        <li><a href="system.html"><i class="icon-font">&#xe017;</i>合作院校</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe037;</i>新增业务</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe046;</i>查找学校</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  