
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="<?php echo site_url('student/insertStu') ?>" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>姓名：</th>
                                <td>
                                    <input class="common-text required" id="title" name="stuname" size="30" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                            <th width="120"><i class="require-red">*</i>性别：</th>
                            <td>
                                 <input type ="radio"  value ="男" name ="sex"/>男
                                 &nbsp  &nbsp
                                 <input type ="radio"  value ="女" name ="sex"/>女
                            </td>
                        </tr>
                            <tr>
                               <th><i class="require-red">*</i>出生年月：</th>
                                <td><input class="common-text" name="birthday" size="50" value="admin" type="date"></td>
                            </tr>

                             <tr>
                                <th width="100"><i class="require-red">*</i>家长姓名：</th>
                                <td><input class="common-text" name="parentname" size="25" value="" type="text"></td>
                            </tr>
                            <tr>
                                <th width="60"><i class="require-red">*</i>联系电话：</th>
                                <td><input class="common-text" name="phone" size="25" value="" type="text"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>家庭住址：</th>
                                <td><input class="common-text" name="addreess" size="80" id="" type="text"></td>
                            </tr>
                            <tr>
                                <th>备注内容：</th>
                                <td><textarea name="rtext" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
 