
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/jscss/admin/design/add" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody><tr>
                            <th width="120"><i class="require-red">*</i>手机号码：</th>
                            <td>
                               <input class="common-text" type="text" name="phonenum" size="30">
                            </td>
                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>所报课程：</th>
                                <td>
                                 <label>  <input class="common-text required" id="title" name="course" size="50" value="" type="checkbox">3D打印</label>&nbsp&nbsp
                                 <label>  <input class="common-text required" id="title" name="cousrse" size="50" value="" type="checkbox">电子积木</label>
                                 &nbsp&nbsp
                                 <label>  <input class="common-text required" id="title" name="course" size="50" value="" type="checkbox">设计思维</label>&nbsp&nbsp
                                 <label>  <input class="common-text required" id="title" name="course" size="50" value="" type="checkbox">机器人课程</label> &nbsp&nbsp
                                </td>
                            </tr>
                            <tr>
                              <th><i class="require-red">*</i>引流：</th>
                                <td><input class="common-text" name="" size="30" value="" type="text"></td>
                            </tr>
                            <tr>
                              <th><i class="require-red">*</i>金额：</th>
                                <td><input class="common-text" name="" size="20" value="" type="text"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>销售：</th>
                                <td><input class="common-text" name="" id="" type="text"></td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>上课老师：</th>
                                <td><input class="common-text" name="smallimg" id="" type="text"></td>
                            </tr>
                            <tr>
                                <th>备注内容：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
