
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="<?php echo site_url('student/stuAddCourse') ?>" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody><tr>
                            <th width="120"><i class="require-red">*</i>姓名：</th>
                            <td>
                               <input class="common-text" type="text" name="stuname" size="30">
                                 <?php echo form_error('stuname','<span>','</span>') ?>
                            </td>
                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>所报课程：</th>
                                <td>
                                 <label>  <input class="common-text required" id="title" name="course[]" size="50" value="3D打印" type="checkbox">3D打印</label>&nbsp&nbsp
                                 <label>  <input class="common-text required" id="title" name="course[]" size="50" value="电子积木" type="checkbox">电子积木</label>
                                 &nbsp&nbsp
                                 <label>  <input class="common-text required" id="title" name="course[]" size="50" value="设计思维" type="checkbox">设计思维</label>&nbsp&nbsp
                                 <label>  <input class="common-text required" id="title" name="course[]" size="50" value="机器人课程" type="checkbox">机器人课程</label> &nbsp&nbsp
                                </td>
                            </tr>
                            <tr>
                              <th><i class="require-red">*</i>引流：</th>
                                <td><input class="common-text" name="escort" size="30" type="text">
                                 <?php echo form_error('escort','<span>','</span>') ?></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>销售：</th>
                                <td><input class="common-text" name="sale" id="" type="text">
                                 <?php echo form_error('sale','<span>','</span>') ?></td>
                            </tr>
                            <tr>
                              <th><i class="require-red">*</i>金额：</th>
                                <td><input class="common-text" name="money" size="20" value="" type="text">
                                 <?php echo form_error('money','<span>','</span>') ?></td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>上课老师：</th>
                                <td><input class="common-text" name="teacher" id="" type="text">
                                 <?php echo form_error('teacher','<span>','</span>') ?></td>
                            </tr>
                            <tr>
                                <th>备注内容：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea>
                                 <?php echo form_error('content','<span>','</span>') ?></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
